section(class="gecko-home")

    h4 Welcome to the Ergast F1 world champions developer API

    p Please select the season year below in order to see the winners of each race and world champion for that year.

    div(class="callout")
        ul(class="menu simple gecko-bottom-menu")
            li(data-ng-repeat="n in range(2005, 2015)")
                a(href="drivers/{{n}}", class="large button") {{n}}
