section(data-ng-if="f1Data", class="gecko-drivers")
    h2 Drivers standings for {{ f1Data.year }}

    h5(data-ng-if="error", class="callout alert") Error: {{error}}

    p * World champion in season {{ f1Data.year }} is highlighted

    table(class="hover stack")
        thead
            tr
                th Race name
                th Driver name
                th Constructor
                th Laps count
                th Finish time
                th World champion

        tbody
            tr(data-ng-repeat="(key, value) in f1Data.prepared",
                class="gecko-world-champion-{{ value.isSeassinChampion | lowercase}}")
                td
                    a(href="{{ value.raceURL }}", target="_blank") {{ value.raceName }}
                td {{ value.driverName }} {{ value.driverSurname }}
                td
                    a(href="{{ value.constructorURL }}", target="_blank") {{ value.constructorName }}
                td {{ value.lapsCount }}
                td {{ value.finishTime }}
                td {{ value.isSeassinChampion }}

    div(class="callout")
        ul(class="menu simple gecko-bottom-menu")
            li
                a(href="home", class="large button") Home
